# 01 - Regresi Dummy (Dasar)

Notebook ini menunjukkan contoh regresi linier dengan variabel dummy menggunakan dataset `gaji_dummy.csv`.

Variabel:
- `salary_million`      : gaji (juta/bulan) → Y
- `experience_years`    : pengalaman kerja (tahun) → X numerik
- `gender`              : L / P → dummy
- `education_level`     : SMA / S1 / S2 → dummy

In [13]:
import pandas as pd
import statsmodels.formula.api as smf

# Load data
df = pd.read_csv("../data/gaji_dummy.csv")
df.head()

   id  experience_years gender education_level  salary_million
0   1                10      L             SMA            14.0
1   2                 3      L             SMA             8.4
2   3                10      L              S2            17.3
3   4                 0      L             SMA             5.0
4   5                 9      L              S2            16.1

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                20 non-null     int64
 1   experience_years  20 non-null     int64
 2   gender            20 non-null     object
 3   education_level   20 non-null     object
 4   salary_million    20 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 932.0+ bytes

In [15]:
df[["gender", "education_level"]].value_counts()

gender  education_level
L       SMA                7
        S2                 5
P       S2                 4
        SMA                2
L       S1                 1
P       S1                 1
Name: count, dtype: int64

In [21]:
df

    id  experience_years gender education_level  salary_million
0    1                10      L             SMA            14.0
1    2                 3      L             SMA             8.4
2    3                10      L              S2            17.3
3    4                 0      L             SMA             5.0
4    5                 9      L              S2            16.1
5    6                10      P             SMA            11.9
6    7                 4      L             SMA             9.1
7    8                 5      P             SMA             7.4
8    9                 5      L             SMA             9.3
9   10                 5      P              S2            11.5
10  11                 0      P              S2             7.2
11  12                 6      L              S2            13.9
12  13                10      P              S2            15.4
13  14                 1      L              S2             9.8
14  15                 4      L             SMA             9.4
15  16                 6      P              S1            11.1
16  17                 5      L              S1            11.2
17  18                10      P              S2            16.9
18  19                10      L              S2            17.8
19  20                 8      L             SMA            11.8

In [20]:
df_dummy = pd.get_dummies(df, drop_first=True, dtype=int)
df_dummy

,id,experience_years,salary_million,gender_P,education_level_S2,education_level_SMA
0,1,10,14.0,0,0,1
1,2,3,8.4,0,0,1
2,3,10,17.3,0,1,0
3,4,0,5.0,0,0,1
4,5,9,16.1,0,1,0
5,6,10,11.9,1,0,1
6,7,4,9.1,0,0,1
7,8,5,7.4,1,0,1
8,9,5,9.3,0,0,1
9,10,5,11.5,1,1,0
10,11,0,7.2,1,1,0
11,12,6,13.9,0,1,0
12,13,10,15.4,1,1,0
13,14,1,9.8,0,1,0
14,15,4,9.4,0,0,1
15,16,6,11.1,1,0,0
16,17,5,11.2,0,0,0
17,18,10,16.9,1,1,0
18,19,10,17.8,0,1,0
19,20,8,11.8,0,0,1

In [19]:
list(df_dummy)

['id',
 'experience_years',
 'salary_million',
 'gender_P',
 'education_level_S2',
 'education_level_SMA']

In [22]:
# Model: salary_million ~ experience_years + gender + education_level
model = smf.ols(
    "salary_million ~ experience_years + gender_P + education_level_S2 + education_level_SMA",
    data=df_dummy
).fit()

model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         salary_million   R-squared:                       0.986
Model:                            OLS   Adj. R-squared:                  0.982
Method:                 Least Squares   F-statistic:                     263.9
Date:                Tue, 02 Dec 2025   Prob (F-statistic):           1.05e-13
Time:                        15:07:34   Log-Likelihood:                -11.172
No. Observations:                  20   AIC:                             32.34
Df Residuals:                      15   BIC:                             37.32
Df Model:                           4
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept               7.2694      0.404     18.001      0.000       6.409       8.130
experience_years        0.8548      0.033     25.767      0.000       0.784       0.925
gender_P               -1.6411      0.237     -6.926      0.000      -2.146      -1.136
education_level_S2      1.6555      0.385      4.305      0.001       0.836       2.475
education_level_SMA    -1.9695      0.387     -5.083      0.000      -2.795      -1.144
==============================================================================
Omnibus:                        3.521   Durbin-Watson:                   1.808
Prob(Omnibus):                  0.172   Jarque-Bera (JB):                2.421
Skew:                           0.852   Prob(JB):                        0.298
Kurtosis:                       2.946   Cond. No.                         40.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
print("Intercept       : rata-rata gaji kategori baseline")
print("experience_years: tambahan gaji per 1 tahun pengalaman (dalam juta)")
print("C(gender)[T.L]  : selisih gaji Laki-laki terhadap Perempuan (baseline)")
print("C(education_level)[T.S1]/[T.S2] : selisih terhadap pendidikan SMA (baseline)")

Intercept       : rata-rata gaji kategori baseline
experience_years: tambahan gaji per 1 tahun pengalaman (dalam juta)
C(gender)[T.L]  : selisih gaji Laki-laki terhadap Perempuan (baseline)
C(education_level)[T.S1]/[T.S2] : selisih terhadap pendidikan SMA (baseline)